* {
  margin: 0;
  padding: 0;
}

html *
{
  font-size: 18px;
  line-height: 1.4;
  color: #212121;
  font-family: Helvetica;
}

.profile {
  height: 10vh;
  width: auto;
  box-shadow: none;
  margin-bottom: : 40px;

}

#page-wrap {
  margin:0 auto;
  max-width: 850px;
  padding: 40px;
  padding-top: 80px;
}

.projectPhoto {
  width: 100%;
  margin:0px;
  overflow:hidden;
  box-shadow: 0 2px 60px rgba(0, 0, 0, 0.18);
}

.projectPhoto:hover {
  box-shadow: 0 2px 80px rgba(0, 0, 0, 0.4);
}

a {
  color: #0880FF;
}

p {
  margin-bottom: 20px;
}

a:hover {
  color: #F91773;
}

h1 {
font-weight: 800;
margin-bottom: 10px;
margin-top: 10px;

}


h2 {
  color: #3A125D;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 10px;

}
