html *
{
  font-size: 18px;
  line-height: 1.4;
  color: #212121;
  font-family: Helvetica;
  background-color: #FFFFFF;
}

.profile {
  height: 10vh;
  width: auto;
  box-shadow: none;
  margin: auto;
}

.projects {
font-size: 16px;
color:#3275C3;
line-height: 1.5;
padding: .5em 2em;
background: #EBF4FF;
box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.20);
border-radius: 5px;
}

body{
  margin-top: 8em;
  }

#page-wrap {
     max-width: 750px;
     margin: auto;
     padding: 40px;
}

.projectPhoto {
  width:100%;
  box-shadow: 0 2px 60px rgba(0, 0, 0, 0.18);
}

.projectPhoto:hover {
  box-shadow: 0 2px 80px rgba(0, 0, 0, 0.4);
}

a {
  color: #0880FF;
}

a:hover {
  color: #F91773;
}

h1 {
font-weight: 800;
}


h2 {
  color: #3A125D;
  font-size: 17px;
  font-weight: 600;

}

.main-head {
  grid-area: header;
}
